<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  
    <!-- Custom styles for this template -->
    <link href="visualiser.css" rel="stylesheet">
</head>


<body>
  <div class="container">
    <h2>Stock Performance</h2>
     <div class="row">
        <div class="col-md-4 col-sm-6 col-8 title-hover">
            <table class="table table-hover table-dark">
               <thead>
                <tr>
                  <th scope="col">Stock</th>
                  <th scope="col" class="text-left">Open</th>
                  <th scope="col" class="text-right">Current</th>
                  <th scope="col" class="text-center">+/-</th>
                </tr>
              </thead>
            {% for i in range(10) %}
            <tr id=top-row-{{i}} class="top_performers">
               <td class="text-left symbol" scope="row">-</td>
               <td class="text-left starting" scope="row">-</td>
               <td class="text-right price" scope="row">-</td>
               <td><button  type="button" class="btn btn-success diff">+0%</button></td>
            </tr>
            {% end %}
            </table>
        </div>
               <div class="col-md-4 col-sm-6 col-8 title-hover">
            <table class="table table-hover table-dark">
               <thead>
                <tr>
                  <th scope="col">Stock</th>
                  <th scope="col" class="text-left">Open</th>
                  <th scope="col" class="text-right">Current</th>
                  <th scope="col" class="text-center">+/-</th>
                </tr>
              </thead>
            {% for i in range(10) %}
            <tr id=worst-row-{{i}} class="worst_performers">
               <td class="text-left symbol" scope="row">-</td>
               <td class="text-left starting" scope="row">-</td>
               <td class="text-right price" scope="row">-</td>
               <td><button  type="button" class="btn btn-success diff">+0%</button></td>
            </tr>
            {% end %}
            </table>
          </div>
      </div>

  </div> <!-- /container -->




<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="/js/stocks.js"></script>


</body>
</html>